@import "../styles/var.scss";

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $color-gray solid 1px;
    padding: 12px 0;
    margin-bottom: $space * 2;
    h4 {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
    }
    h5 {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        display: inline-block;
        span {
            color: $color-red;
        }
    }
}

.boxRewards {
    h3 {
        color: $color-blue;
    }
}

.imageReward {
    max-width: 200px;
}

.h100 {
    height: 100%;
}

.boxGame {
    background: url("https://stagingaja.com/static/hero.jpg");
    background-clip: cover;
    width: 100%;
    min-height: 412px;
    border-radius: $radius * 2;
    text-align: center;
    padding: $space;
}

.boxBlankPage {
    background: url("https://stagingaja.com/static/hero.jpg");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.contentBlank {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.blankWord {
    color: $color-red;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

.containerGacha {
    margin: 50px auto;
}

.resultHadiah {
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
